<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin : 0px;
                background : #222;
                overflow : hidden;
            }
            div {
                height : 100vh;
                display : flex;
                flex-direction : row;
                align-items : center;
            }
            img {
                width : 100vw;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="{{ url_for('static', filename='images/err404.png') }}">
        </div>
    </body>
</html>