<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin : 0px;
                background : #222;
                overflow : hidden;
            }
            div {
                display : flex;
                flex-direction : row;
                align-items : center;
            }
            p {
                display : flex;
                flex-direction : column;
                align-items : center;
            }
        </style>
    </head>
    <body>
        <div>
            <span>
                <p>
                    Error 500<br>
                    An Internal Server Error Occurred
                </p>
            </span>
        </div>
    </body>
</html>