/* pushes the task info down slightly so that there is some space between it and the breadcrumbs */
#sel-task-info {
    padding-top : 5px;
}

#breadcrumbs {
    position : relative;
    top : -1px;
    left : 0px;
}

.task-breadcrumb {
    user-select : none;
    cursor : hand;
    height : 4em;
    border-right : 2px solid black;
    border-bottom: 2px solid black;
}

.task-breadcrumb:hover {
    background-color: #eee;
}

.task-breadcrumb.top-breadcrumb {
    background-color: #ddd;
}
.task-breadcrumb.top-breadcrumb:hover {
    background-color: #eee;
}
