.task, .pri-label, #indent > ul {
    margin : 0px;
}
body {
    /* background-color: #eee; */
}
#task-list {
    width : fit-content;
    position : relative;
    left : 20px;
    /* text-indent : 20; */
}
/* project name */
h1#proj-name {
    /* possible */
    /* user-select : none; */
    color : black;
    width : fit-content;
    transition : color linear 0.25s;
}
h1#proj-name:hover {
    color : #444;
    cursor : url("/assets/cursors/edit.svg") 0 32, auto;
}

.task-priority, .task-locked {
    justify-self : right;
    margin-right : 5px;
}

.task-name, .task-completed {
    margin-left : 5px;
}

.task-locked, .task-priority, .task-name, .task-completed {
    /* width : max-content; */
    /* width : fit-content; */
    /* width : min(fit-content, 100%); */
    word-break : break-all;
}

/* tasks */
.task {
    border : solid #808080;
    background : #a0a0a0;
    width : calc(20vw - 20px);
    color : black;
    transition : color linear 0.25s;
    display : grid;
    grid-template-columns : 1.125fr 0.875fr;
    /* grid-template-columns : 1fr 1fr; */
}
.task:hover {
    color : gray;
    cursor : url("/assets/cursors/edit.svg") 0 32, auto;
}

#menu {
    position : absolute;
}

#menu > input {
    width : 100%;
    border : solid #444 2px;
    background : gray;
    color : black;
    transition : border linear 0.25s, background-color linear 0.25s, color linear 0.25s;
}

#menu > input:hover {
    border : solid #666 2px;
    background : dimgray;
    color : #333;
}

.hidden {
    display : none;
}