.task, .pri-label, #indent > ul {
    margin : 0px;
}
body {
    /* background-color: #eee; */
}
#task-list {
    width : fit-content;
    position : relative;
    left : 16px;
}

#no-task {
    position : absolute;
    z-index : 10000;
    background : white;
    width : 100%;
    height : 100%;
}

#no-ask-cont {
    height : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
}

#no-task > div > h1 {
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
}

#side-panel {
    position : absolute;
    left : calc(20vw + 4px);
    top : 2px;
    border : solid gray 2px;
    width : calc(80vw - 8px);
    height : calc(100vh - 8px);
}

/* project name */
#proj-name {
    /* possible */
    /* user-select : none; */
    display : block;
    border : none;
    font-size : 2em;
    font-weight : bold;
    color : black;
    width : fit-content;
    transition : color linear 0.25s;
    margin-top: 0px;
}
#proj-name:hover {
    color : #444;
    cursor : url("/assets/cursors/edit.svg") 0 32, auto;
}

.task-priority, .task-locked {
    justify-self : right;
    margin-right : 5px;
}

.task-name, .task-completed {
    margin-left : 5px;
}

.task-locked, .task-priority, .task-name, .task-completed {
    /* width : max-content; */
    /* width : fit-content; */
    /* width : min(fit-content, 100%); */
    word-break : break-all;
}

/* tasks */
.task {
    border : solid #a0a0a0 2px;
    background : #d4d4d4;
    width : calc(20vw - 24px);
    color : black;
    transition : color linear 0.25s/*, border linear 0.25s*/;
    display : grid;
    grid-template-columns : 1.125fr 0.875fr;
    /* padding-left : 2px;
    padding-right : 2px; */
    /* grid-template-columns : 1fr 1fr; */
}
.task:hover {
    /* width : calc(20vw - 24px);
    border : solid #a0a0a0; */
    color : #585858;
    cursor : url("/assets/cursors/edit.svg") 0 32, auto;
}

#menu {
    position : absolute;
}

#menu > input {
    width : 100%;
    border : solid #444 2px;
    background : gray;
    color : black;
    transition : border linear 0.25s, background-color linear 0.25s, color linear 0.25s;
}

#menu > input:hover {
    border : solid #666 2px;
    background : dimgray;
    color : #333;
}

.hidden {
    display : none;
}