<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3>Search Bar Usage</h3>
        <p>
            comparasons:<br>&#x3E<br>&#x3C<br>=<br>!=<br>&#x3E=<br>&#x3C=<br>!=&#x3E - does not contain<br>=&#x3E - contains
        </p>
        <p>
            usage:<br>[...[task-obj-property] [comparason] [value];] (;sort=[sorting id])? (;show-hidden=[bool])? quote values that require spaces
        </p>
        <p>
            examples:<br>
            all tasks with "x" in name, sorted alphabetically: "name !=> x;sort=0"
        </p>
        <p>
            sorting:<br>-1 - no sorting, tasks remain in the same order they were recieved in<br>0 - alphabetical<br>1 - reverse alphabetical<br>2 - priority high to low<br>3 - priority low to high
        </p>
        <p>
            show hidden:<br>when set to true shows tasks that don't meet search criteria under those that do (these tasks are sorted using the sort parameter if given)
        </p>
        <div>
            search parameter generator:<br>
            <div id="base-params"></div>
            <span>Sorting: </span><select onchange="sortby=Number(this.value);regen()">
                <option value="-1">None</option>
                <option value="0">Alphabetical</option>
                <option value="1">Reverse alphabetical</option>
                <option value="2">Priority high to low</option>
                <option value="3">Priority low to high</option>
            </select><br>
            <span>Show hidden: <input type="checkbox" onchange="showhidden=!showhidden;regen()"></span><br>
            <span>Output: <input type="text" id="output" readonly onfocus="this.select()"></span>
        </div>
        <script src="/assets/js/search-gen.js"></script>
    </body>
</html>