<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/css/manager.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css" />
	</head>
	<body>
		<!-- <img src="/assets/icons/rename.svg">
		<img src="/assets/cursors/edit.svg">
		<img src="/assets/icons/delete.svg"> -->
		<div id="left-panel">
			<h1 id="proj-name" onclick="edit_project()">{{ project_name }}</h1>
			<div id="task-list"></div>
			<div id="new-task-controls">
				<img src="/assets/icons/plus.svg" id="new-task-button" onclick="change_task_add(document.getElementById('new-task-input').value, document.getElementById('new-task-priority').value)">
				<input id="new-task-input" onkeydown="if (event.keyCode==13){change_task_add(this.value, document.getElementById('new-task-priority').value);this.value=''}">
				<select id="new-task-priority">
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</div>
		</div>
		<div id="side-panel">
			<div id="breadcrumbs">
				<span class="task-breadcrumb top-breadcrumb" onclick="breadcrumbclick(0)">{{ project_name }}</span>
			</div>
			<div id="edit-project">
				<input type="text" id="sel-project-name" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" onkeyup="if(event.code.toString()==='Enter'){if(pname !== this.value){change_project_name(this.value)}}">
			</div>			
			<div id="sel-task-info" style="display:none;">
				<input type="text" id="sel-task-name" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" onkeyup="if(event.code.toString()==='Enter'){if(current_task.name !== this.value){change_task_name(current_task.name,this.value)};this.blur()}"><br>
				<label for="priority" id="sel-priority-label">Priority:</label>
				<select name="priority" id="sel-task-priority" onchange="if(current_task && this.value !== current_task.value){change_task_priority(current_task.name, this.value)}">
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select><br>
				<!--type="text"-->
				<textarea id="sel-task-desc" autocomplete="off" onblur="if(current_task && this.value !== current_task.desc){change_task_description(current_task.name, this.value)}" onkeyupx="if(current_task && event.code.toString() === 'Enter' && this.value !== current_task.desc){change_task_description(current_task.name, this.value)}"></textarea>
			</div>
		</div>
		<div id="menu" class="hidden">
			<input type="button" value="rename project" onclick="document.getElementById('proj-name').select()"><br>
			<input type="button" value="new task" onclick="newtask()">
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script src="/assets/js/manager.js"></script>
		<!-- does small amount of basic setup related to rendering of the whole page -->
		<script>
			window.scrollBy(-window.scrollX, -window.scrollY);
		</script>
	</body>
</html>
