<html>
	<head>
		<style>
			/* link styles */
			a:any-link {
				color : #5384dc;
				transition : color linear 0.25s;
			}
			a:any-link:hover {
				color : #2162ba;
			}
		</style>
	</head>
	<body>
		<h1>PLEASE CHECK TRANSFER.txt</h1>
		<ul>
			{% for project in projects %}
			<li><a id="select-{{ project }}" href="/projects/{{ project }}">{{ project }}</a></li>
			{% endfor %}
		</ul>
		<!-- redrects to actual root if there is an incomplete path -->
		<script>
			if (window.location.pathname != "/") {
				console.log(window.location.pathname);
				window.location.pathname = "";
			}
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script src="/assets/js/project.js"></script>
	</body>
</html>
